# Developer Tool Config Files
.clj-kondo
.cpcache
.DS_Store
.nrepl-port
.rebel_readline_history
.vscode
Makefile

# Build Directories and Files
.key
email-server.edn
logs
target

# Configuration files
config.edn
email-server.edn
camera-config.edn
