{:tasks
 {-project     "cljweb-pyregence"
  reload       (shell "systemctl --user daemon-reload")
  status       {:depends [-project]
                :task    (shell (format "systemctl --user status %s" -project))}
  start        {:depends [-project]
                :task    (shell (format "systemctl --user start %s" -project))}
  stop         {:depends [-project]
                :task    (shell (format "systemctl --user stop %s" -project))}
  restart      (do
                 (run 'stop)
                 (run 'start))
  build-js     (clojure "-M:compile-cljs") ;; FIXME replace with `compile`
  pull         (shell "git pull")
  migrate      (clojure "-M:build-db migrate")
  build-all    (clojure "-M:build-db build-all")
  compile      (clojure "-M:compile-cljs")
  dev-data     (clojure "-M:build-db build-all --dev-data")
  functions    (clojure "-M:build-db functions")
  prod         (do
                 ;; (run 'install)
                 (run 'functions)
                 (run 'clean)
                 (run 'compile)
                 (run 'server-start))
  dev          (do
                 ;; (run 'install)
                 (run 'functions)
                 (clojure "-M:default-ssl-opts:figwheel"))
  ;; install   (shell "npm install")
  deploy       (do
                 (run 'stop)
                 (run 'pull)
                 (run 'build-js)
                 #_(run 'migrate)
                 (run 'functions)
                 (run 'start))
  clean        (shell "rm -rfv target")
  server-start (shell "clojure -M:server start")}}
