{:main            "pyregence.client"
 :output-dir      "target/public/cljs"
 :output-to       "target/public/cljs/app.js"
 :bundle-cmd      {:default ["npx" "webpack"]}
 :optimizations   :advanced
 :source-map      "target/public/cljs/app.js.map"
 :pretty-print    false
 :target          :bundle
 :closure-defines {"goog.DEBUG"       false
                   cljs.core/*global* "window"}}
