{:cameras           {:wildfire-camera-api-key "<api-key>"}
 :mapbox            {:access-token "<access-token>"}
 :pyr-auth-token    "<changeme123456789>"
 :database          {:host     "localhost"
                     :port     5432
                     :dbname   "pyregence"
                     :user     "pyregence"
                     :password "pyregence"}
 :server            {:http-port 8080
                     :mode      "prod"
                     :log-dir   "logs"
                     :repl      false}
 :default-forecasts {:near-term :fire-weather
                     :long-term :fire-scenarios}
 :dev-mode          <true/false>
 :features          {:match-drop   true
                     :fire-history true
                     :structures   true
                     :gridfire     false}
 :geoserver         {:match-drop  "https://sierra.pyregence.org/geoserver"
                     :psps        "https://energy.pyregence.org:8443/geoserver"
                     :pyreclimate "https://climate.pyregence.org/geoserver"
                     :shasta      "https://shasta.pyregence.org/geoserver"
                     :trinity     "https://trinity.pyregence.org/geoserver"}
 :match-drop        {:app-host       "app.pyregence.org"
                     :app-port       31337
                     :app-name       "Pyrecast Web Server"
                     :geosync-host   "data.pyregence.org"
                     :geosync-port   31337
                     :geosync-name   "GeoSync"
                     :elmfire-host   "elmfire.pyregence.org"
                     :elmfire-port   31338
                     :elmfire-name   "ELMFIRE"
                     :gridfire-host  "gridfire.pyregence.org"
                     :gridfire-port  31337
                     :gridfire-name  "GridFire"
                     :dps-host       "wx.pyregence.org"
                     :dps-port       31337
                     :dps-name       "Data Provisioning Server"
                     :max-queue-size 5
                     :data-dir       "/srv/gis/fire_spread_forecast"}
 :mail              {:host     "<host>"
                     :user     "<user>"
                     :pass     "<pass>"
                     :tls      <true/false>
                     :site-url "<url>"}
 :ga-id             nil}
