{:cameras  {:wildfire-camera-api-key "<api-key>"}
 :features {:match-drop false}
 :mail     {:host     "<host>"
            :user     "<user>"
            :pass     "<pass>"
            :tls      <true/false>
            :site-url "<url>"}}
