{:paths   ["src/clj" "src/cljs" "resources" "target" "src/sql"]
 :deps    {clj-http/clj-http                          {:mvn/version "3.10.1"}
           clj-tagsoup/clj-tagsoup                    {:mvn/version "0.3.0" :exclusions [org.clojure/data.xml org.clojure/clojure]}
           com.cognitect/transit-clj                  {:mvn/version "1.0.324"}
           com.cognitect/transit-cljs                 {:mvn/version "0.8.264"}
           funcool/decimal                            {:mvn/version "1.0.2"}
           herb/herb                                  {:mvn/version "0.10.0"}
           hiccup/hiccup                              {:mvn/version "2.0.0-alpha2"}
           one-time/one-time                          {:mvn/version "0.8.0" :exclusions [com.github.kenglxn.qrgen/javase]}
           org.clojure/clojure                        {:mvn/version "1.12.0"}
           org.clojure/clojurescript                  {:mvn/version "1.10.866"}
           org.clojure/core.async                     {:mvn/version "1.2.603"}
           org.clojure/data.json                      {:mvn/version "1.0.0"}
           org.clojure/data.xml                       {:mvn/version "0.0.8"}
           org.clojure/tools.cli                      {:mvn/version "1.0.194"}
           org.postgresql/postgresql                  {:mvn/version "42.2.14"}
           reagent/reagent                            {:mvn/version "1.2.0"}
           ring/ring                                  {:mvn/version "1.9.4"}
           ring/ring-headers                          {:mvn/version "0.3.0"}
           ring/ring-json                             {:mvn/version "0.5.0"}
           ring/ring-ssl                              {:mvn/version "0.3.0"}
           seancorfield/next.jdbc                     {:mvn/version "1.1.569"}
           sig-gis/runway                             {:git/url "https://gitlab.sig-gis.com/sig-gis/runway"
                                                       :git/sha "a3a2b218e15e9144af5e9064f686d253198f0c85"
                                                       :git/tag "2024.06.05-a3a2b21"}
           sig-gis/triangulum                         {:git/url "https://github.com/sig-gis/triangulum"
                                                       :git/sha "26d113c8a83fe522958e2bb58b4f222317763297"}
           io.github.matthewdowney/rich-comment-tests {:git/tag "v1.0.3" :git/sha "a8711e9"}
           org.clojure/data.csv                       {:mvn/version "1.1.0"}
           semantic-csv/semantic-csv                  {:mvn/version "0.2.1-alpha1"}}
 :aliases {:build-db         {:main-opts ["-m" "triangulum.build-db"]}
           :build-uberjar    {:exec-fn   pyregence.packaging/build-uberjar!
                              :exec-args {:app-name      pyregence
                                          :src-dirs      ["src/clj"]
                                          :main-ns       pyregence.cli
                                          :resource-dirs ["resources" "target" "src/cljs" "src/sql"]}}
           :check-deps       {:deps       {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                              :main-opts  ["-m" "antq.core"]}
           :check-reflection {:main-opts  ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                           "-e" "(require,'pyregence.routing)"
                                           "-e" "(require,'pyregence.jobs)"
                                           "-e" "(require,'pyregence.handlers)"
                                           "-e" "(require,'pyregence.compile-cljs)"]}
           :cli              {:main-opts  ["-m" "pyregence.cli"]}
           :compile-cljs     {:main-opts  ["-m" "pyregence.compile-cljs" "compile-prod.cljs.edn"]}
           :config           {:main-opts  ["-m" "triangulum.config"]}
           :default-ssl-opts {:jvm-opts   ["-Djavax.net.ssl.keyStore=resources/runway.pkcs12"
                                           "-Djavax.net.ssl.keyStorePassword=RomeoUniformNovemberWhiskeyAlfaYankee"]}
           :https            {:main-opts  ["-m" "triangulum.https"]}
           :figwheel-lib     {:extra-deps {com.bhauman/figwheel-main       {:mvn/version "0.2.13"}}}
           :figwheel         {:extra-deps {com.bhauman/figwheel-main       {:mvn/version "0.2.13"}
                                           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                              :main-opts  ["-m" "figwheel.main" "-b" "compile-dev" "-r"]}
           :production       {:jvm-opts   ["-XX:MaxRAMPercentage=90" "-XX:+PrintFlagsFinal"]}
           :rebel            {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                              :main-opts  ["-m" "rebel-readline.main"]}
           :server           {:main-opts  ["-m" "triangulum.server"]}
           :systemd          {:main-opts  ["-m" "triangulum.systemd"]}
           :rct-test         {:exec-fn    com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
                              :exec-args  {:dirs #{"src"}}}}}
