{:paths ["src/clj" "src/cljs" "resources" "target"]

 :deps {bk/ring-gzip               {:mvn/version "0.3.0"}
        clj-tagsoup/clj-tagsoup    {:mvn/version "0.3.0" :exclusions [org.clojure/data.xml org.clojure/clojure]}
        clj-http/clj-http          {:mvn/version "3.10.1"}
        cljsjs/vega-embed          {:mvn/version "6.0.0-0"}
        com.cognitect/transit-clj  {:mvn/version "1.0.324"}
        com.cognitect/transit-cljs {:mvn/version "0.8.264"}
        com.draines/postal         {:mvn/version "2.0.3"}
        herb/herb                  {:mvn/version "0.10.0"}
        hiccup/hiccup              {:mvn/version "2.0.0-alpha2"}
        org.clojure/clojure        {:mvn/version "1.10.1"}
        org.clojure/clojurescript  {:mvn/version "1.10.773"}
        org.clojure/core.async     {:mvn/version "1.2.603"}
        org.clojure/data.json      {:mvn/version "1.0.0"}
        org.clojure/data.xml       {:mvn/version "0.0.8"}
        org.clojure/tools.cli      {:mvn/version "1.0.194"}
        org.postgresql/postgresql  {:mvn/version "42.2.14"}
        reagent/reagent            {:mvn/version "0.10.0"}
        ring/ring                  {:mvn/version "1.8.2"}
        ring/ring-headers          {:mvn/version "0.3.0"}
        ring/ring-ssl              {:mvn/version "0.3.0"}
        ring/ring-json             {:mvn/version "0.5.0"}
        seancorfield/next.jdbc     {:mvn/version "1.1.569"}}

 :aliases {:build-db     {:main-opts ["-m" "pyregence.build-db"]}
           :certbot-init {:main-opts ["-m" "pyregence.https" "certbot-init"]}
           :package-cert {:main-opts ["-m" "pyregence.https" "package-cert"]}
           :compile-cljs {:main-opts ["-m" "cljs.main" "-co" "compile-prod.cljs.edn" "-c"]}
           :figwheel-lib {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.11"}}}
           :figwheel     {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.11"}
                                       com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                          :main-opts ["-m" "figwheel.main" "-b" "compile-dev" "-r"]}
           :rebel        {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                          :main-opts  ["-m" "rebel-readline.main"]}
           :production   {:jvm-opts ["-Xmx4096m" "-XX:+PrintFlagsFinal"]}
           :run-server   {:main-opts ["-m" "pyregence.server"]}
           :check-deps   {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                          :main-opts ["-m" "depot.outdated.main"]}
           :make-jar     {:extra-deps {seancorfield/depstar {:mvn/version "0.3.1"}}
                          :main-opts ["-m" "hf.depstar.jar"]}
           :make-uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.3.1"}}
                          :main-opts ["-m" "hf.depstar.uberjar"]}}}
