{:watch-dirs          ["src/cljs" "src/cljc"]
 :css-dirs            ["resources/public/css"]
 :ring-server-options {:port 13371 :join? false}
 :ring-handler        pyregence.handlers/development-app-wrapper
 :open-url            false
 :bundle-freq         :always
 :clean-outputs       true
 :post-build-hooks    [pyregence.compile-cljs/post-figwheel-hook]}
