{:watch-dirs ["src/cljs"]
 :css-dirs ["resources/public/css"]
 :ring-server-options {:port 8080 :join? false}
 :ring-handler pyregence.handler/development-app
 :open-url false
 :clean-outputs true
 :post-build-hooks [pyregence.compile-cljs/post-figwheel-hook]}
