{:watch-dirs ["src/cljs"]
 :css-dirs ["resources/public/css"]
 :ring-server-options {:port 8080 :join? false}
 :ring-handler pyregence.handler/development-app
 :open-url "http://local.pyregence.org:[[server-port]]/near-term-forecast"}
