@font-face {
    font-family: "big_caslonmedium";
    src: url("fonts/BigCaslon.woff2") format("woff2"),
         url("fonts/BigCaslon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Book.woff") format("woff"), /* Modern Browsers */
         url("fonts/Avenir-Book.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Medium.woff") format("woff"), /* Modern Browsers */
         url("fonts/Avenir-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Avenir";
    color: #60411f;
}
h1, h2, h3 {
    font-family: "big_caslonmedium";
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 2.5rem;
}
p a:link, p a:visited {
    font-weight: 700;
    border-bottom: 1px solid #333;
    color: #60411f;
    text-decoration: none;
}
p a:hover, p a:active {
    text-decoration: none;
}
#content p {
    display: inline-block;
    width: 100%;
}
