@font-face {
    font-family: "big_caslonmedium";
    src: url("fonts/BigCaslon.woff2") format("woff2"),
         url("fonts/BigCaslon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Book.woff") format("woff"), /* Modern Browsers */
         url("fonts/Avenir-Book.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir-Medium.woff") format("woff"), /* Modern Browsers */
         url("fonts/Avenir-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Avenir";
    color: #60411f;
}
h1, h2, h3 {
    font-family: "big_caslonmedium";
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 2.5rem;
}
p a:link, p a:visited {
    font-weight: 700;
    border-bottom: 1px solid #333;
    color: #60411f;
    text-decoration: none;
}
p a:hover, p a:active {
    text-decoration: none;
}
#content p {
    display: inline-block;
    width: 100%;
}
.bg-brown p a:link, .bg-brown p a:visited {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.study-build h3 {
    font-size: 1.3rem;
}
.text-yellow {
    color: #f9af3b;
}
.text-brown {
    color: #60411f;
}
.bg-yellow {
    background: #f9af3b;
}
.bg-brown {
    background: #60411f;
}
.bg-green {
    background: #6a9448;
}
.bg-red {
    background: #f96841;
}
.header-image {
    background-image: url("../images/forest-fire.jpg");
    background-size: cover;
    border-bottom: 8px solid #F9AF3B;
    height: calc(100vh - 120px) !important;
    min-height: 500px;
}
.navbar a:link, .navbar a:visited {
    color: #f9af3b;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
.navbar a:hover, .navbar a:active {
    color: #60411F;
}
.jumbotron {
    border-radius: 0px;
}
.subtitle {
    font-size: 1.1em;
}
.btn {
    padding: 8px 30px;
    border: 2px solid white;
    border-radius: 20px/50%;
    text-transform: uppercase;
}
.red.btn {
    border-color: #f9af3b;
    background: #f96841;
    font-weight: bold;
    font-size: .8rem;
}
.grey.btn {
    border-color: #888;
    background: #ccc;
    font-weight: bold;
    color: #888;
    font-size: 1rem;
}
.readmore a, .readmore a:hover, .readmore a:visited, .readmore a:focus, .readmore a:active {
    font-family: "big_caslonmedium";
    color: #60411f;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.readmore img {
    height: 20px;
    margin-left: 10px;
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0;
}
.border-yellow.btn {
    border-color: #f9af3b;
}
.btn.text-white:hover, .btn.text-white:active, .btn.text-white:focus {
    background: #ffffff;
    color: #919191 !important;
}
.btn.border-yellow.text-white {
    transition: .1s all ease-in-out;
}
.btn.border-yellow.text-white:hover, .btn.border-yellow.text-white:active, .btn.border-yellow.text-white:focus {
    background: #F9AF30;
    color: #ffffff !important;
}
.btn.border-yellow:hover, .btn.border-yellow:active, .btn.border-yellow:focus {
    background: #F96841;
    color: #fff;
}
.yellow-line {
    width: 150px;
    height: 3px;
    background: #f9af3b;
}
.yellow-line.small {
    width: 60px;
    margin: 0 0 1rem !important;
}
.box-content .yellow-line.small, .bg-brown .yellow-line.small {
    margin: 0 auto 1rem !important;
}
.smaller {
    font-size: .9em;
    text-transform: uppercase;
}
.gpl img {
    width: 200px;
}
.white.circle {
    max-width: 125px;
    max-height: 125px;
    height: 125px;
    width: 125px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}
.box-shadow .white.circle {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 125px;
    width: 125px;
}
.box-content {
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}
.box {
    background-size: cover;
    width: 100%;
    height: 0px;
    padding-top: 100%;
    position: relative;
    margin-bottom: 80px;
    background-position: center;
}
.extreme-weather {
    background-image: url("../images/extreme-weather.png");
}
.wildfire-science {
    background-image: url("../images/advanced-wildfire-science.png");
}
.forecasts {
    background-image: url("../images/wildfire-forecasts.png");
}
.scenarios {
    background-image: url("../images/wildfire-scenarios.png");
}
.white.circle.large {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-color-container .circle img {
    height: 60%;
}
.bg-red.py-5.feature-color-container .circle img {
    height: auto;
}
.circle img {
    max-width: 100%;
}
.white-line {
    width: 60px;
    height: 3px;
    background-color: #fff;
}
.logos .col-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
}
.logos .white.circle {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    max-width: 150px;
}
.logos .white.circle img {
    max-width: 100px !important;
    max-height: 100px !important;
}
.topomap {
    background: url("../images/topo.jpg");
    background-size: cover;
    background-position: center center;
}
.navbar-brand img {
    height: 40px;
    width: auto;
}
.navbar-brand .white-logo {
    opacity: 0;
    -webkit-transition: all .35s linear;
    transition: all .35s linear;
}
.navbar-brand .white-logo.fade {
    opacity: 1;
    transform: opacity 500 linear;
}
.navbar-brand .real-logo {
    opacity: 1;
}
.box-shadow {
    box-shadow: 0px 5px 7px #ccc;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.readmore, .box-content .btn {
    margin-top: auto;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    transition: 0.2s all ease-in-out;
}
#nav-row {
    transition: 0.2s all ease-in-out;
    padding: 1rem 0 1rem 0;
}
#content {
    margin-top: 2rem;
}
#content img {
    max-width: 100%;
}
.home .panel1 .title {
    padding-top: 10vh;
}
#content.wg {
    color: #5A5A5A;
}
.wg .background {
    display: inline-block;
    width: 100%;
    height: 260px;
    position: relative;
}
.wg-extreme-weather header .background {
    background: url(..//images/seashore.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.wg-fire-behavior header .background {
    background: url(..//images/fire-behavior-working-group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.wg-forecast-tools header .background {
    background: url(..//images/forecast-tools-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.wg-scenario-analyses header .background {
    background: url(..//images/scenario-analyses-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.wg header .icon {
    margin: 0 auto;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
}
.wg header h1 {
    text-align: center;
    margin-top: 80px;
}
.line {
  box-sizing: border-box;
  height: 1px;
  width: 136px;
  border-width: 2px;
  border-style: solid;
  margin: 30px 0;
}
.line.gray {
    border-color: #5A5A5A;
}
.line.white {
    border-color: #FFFFFF;
}
.line.yellow {
    border-color: #F9AF3B;
}
.line-center {
    margin: 30px auto;
}
.line.small {
    width: 40px;
    margin: 18px auto;
}
.line.full-width {
    width: 100%;
}
.wg header .subtitle {
    padding: 0 25%;
}
.wg .value-prop1 {
    background: #DFDFDF;
    color: #5A5A5A;
}
.value-prop1 .features div:not(:last-child) {
    border-right: 2px solid #979797;
}
.value-prop2 {
    background: #5A5A5A;
    color: #FFFFFF;
}
.value-prop2 .prod {
    color: #5A5A5A;
    background: #FFFFFF;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.prod img {
    height: 100px;
    width: auto;
}
.issue {
    color: #FFFFFF;
}
.wg-extreme-weather .issue {
    background: url(../images/forest-fire-bw.jpg);
    background-size: cover;
    background-position: center bottom;
}
.team .indv img, .team-block img.headshot, .lightbox .headshot {
    box-shadow: 0px 3px 5px #CCC;
    border: 4px solid #FFFFFF;
}
.team .indv {
    box-shadow: 0px 3px 5px #CCC;
}
.team-page header {
    background: url(../images/team-header.jpg);
    background-size: cover;
    background-position: center center;
    border-top: 8px solid #F9AF3B;
    margin-top: calc(24px + 2.5rem);
    color: #FFFFFF;
    min-height: 320px;
}
.wg .team .indv h3 {
    font-size: 1.5rem;
}
.team-block {
    display: none;
}
.show {
    display: block;
}
.team-block img.icon {
    width: 24px;
    height: 24px;
}
.teams-overview {
    background: #DFDFDF;
    color: #5A5A5A;
}
.team .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 4px 0;
  font-size: 12px;
  font-weight: bold;
}
.team .btn:hover {
  background-color: #ddd;
}
.team .btn.active {
  background-color: #666;
  color: white;
}
.team .btn.learn-more {
    font-size: 12px;
    padding: 6px 12px;
    margin: 0px 10px;
}
.lightbox { 
    display: none;
}
.lightbox img {
    max-width: 100%;
}
.linkedin-icon {
    width: 24px;
    height: 24px;
}
.featherlight .featherlight-close-icon {
    font-size: 22px !important;
    line-height: 35px !important;
    width: 35px !important;
    background: #000000 !important;
    color: #FFFFFF !important;
}
.team-block h3 a:link, .team-block h3 a:visited {
    color: #60411f;
    transition: all .1s ease-in-out;
}
.team-block h3 a:hover, .team-block h3 a:active, .team-block h3 a:focus {
    text-decoration: none;
    color: #000000;
}
p.role {
    font-weight: bold;
}
/*——Media Queries——*/
@media (min-width: 768px) {
    .subtitle {
        font-size: 1.3em;
    }
    h1 {
        font-size: 2em;
    }
}
@media (min-width: 992px) {
    h1 {
        font-size: 2.5em;
    }
}
@media only screen and (min-width: 851px) {
    .navbar {
        justify-content: flex-end;
        align-items: centered;
    }
}
@media only screen and (max-width: 991px) {
    .value-prop1 .features div:not(:last-child) {
        border-right: none;
    }
}
@media only screen and (max-width: 850px) {
    .navbar-brand {
        position: relative;
        height: 40px;
        z-index: 999999;
    }
    .navbar-brand img {
        position: absolute;
        left: 0;
        top: 0;
    }
    .mobile-flex {
        display: flex;
        align-items: center;
    }
    .navbar {
        flex-grow: 1;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
    }
    .mobilenav {
        font-family: inherit;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #60411f;
        opacity: 1;
    }
    .mobilenav li {
        list-style-type: none;
        text-align: center;
        padding: 10px;
    }
    .mobilenav li a {
        font-size: 150%;
        color: #f9af3b;
        text-decoration: none;
        font-weight: 300;
        width: 100%;
    }
    .top-animate {
        background: #ffffff !important;
        top: 13px !important;
        -webkit-transform: rotate(45deg);
        /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }
    .mid-animate {
        opacity: 0;
    }
    .bottom-animate {
        background: #ffffff !important;
        top: 13px !important;
        -webkit-transform: rotate(-225deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-225deg);
    }
    .top-menu {
        top: 5px;
        width: 25px;
        height: 2px;
        border-radius: 10px;
        background-color: #60411f;
    }
    .mid-menu {
        top: 13px;
        width: 25px;
        height: 2px;
        border-radius: 10px;
        background-color:#60411f;
    }
    .bottom-menu {
        top: 21px;
        width: 25px;
        height: 2px;
        border-radius: 10px;
        background-color: #60411f;
    }
    .menui {
        background: #60411f;
        transition: 0.6s ease;
        transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
        margin-top: 0px;
        position: absolute;
    }
    .navbar-nav a, .navbar-nav a:hover, .navbar-nav a:visited, .navbar-nav a:focus, .navbar-nav a:active {
        color: #fff;
    }
    .icon {
        z-index: 999;
        display: block;
        padding: 9px;
        height: 32px;
        width: 32px;
        margin: 0px;
    }
    .mobile-button {
        z-index: 99999;
        position: absolute;
        right: 20px;
    }
    .navbar-nav {
        flex-grow: 1;
        height: 100%;
        justify-content: center;
    }
    .mobile-open {
        overflow: hidden;
    }
    .mobilenav .navbar a:link, .mobilenav .navbar a:visited, .mobilenav .navbar a:hover, .mobilenav .navbar a:active, .mobilenav .navbar a:focus, .mobilenav .navbar a.active {
        color: #ffffff;
    }
}
@media only screen and (max-width: 768px) {
    .feature-color-container p, .feature-color-container h3, .feature-color-container .white.circle {
        text-align: center;
    }
    .feature-color-container .white.circle {
        margin: 0 auto 20px auto !important;
    }
    .white-line {
        margin: 0 auto 20px auto !important;
    }
    .yellow-line {
        margin: 0 auto !important;
    }
}
@media only screen and (max-width: 575px) {
    .wg .headshot {
        width: 220px;
    }
    .team .indv {
        width: 100%;
        text-align: center;
    }
    .team-block img.headshot {
        width: 220px;
    }
    .team-block {
        text-align: center;
    }
    .lightbox img.headshot {
        width: 220px;
    }
}
